h1 {
    color: rgb(0, 255, 153);
    font-size: 16px;
  }


  body {
  }

  
  a {
    color: rgb(211, 0, 0);
    text-decoration: underline;
  }

  
  p {
    color: rgb(255, 0, 212);
    border: 1px solid rgb(117, 21, 88);
  }